<table class="table text-center table-sm" style="width:60%">
  <tr>
    <th style="width: 30%">
      Flight Overview
    </th>
    <th style="width: 30%"></th>
    <th style="width: 40%"></th>
  </tr>
  <tr>
    <td>
      <%="Aircraft : "+summary.aircraft%>
    </td>
    <td>
      <%="Start GMT : "+summary.start_time%>
    </td>
    <td>
      <%="DATE : "+summary.date%>
    </td>
  </tr>
  <tr>
    <td>
      <%="Test : "+summary.test%>
    </td>
    <td>
      <%="End GMT : "+summary.end_time%>
    </td>
    <td>
    </td>
  </tr>
  <% var init = summary.Initialisation %>
  <% var keys = init!== undefined || init!==null ? Object.keys(init): [] %>
  <tr style="border:none">
    <td></td>
    <td>
      <table class="table table-bordered text-center table-sm" style="width:150%">
        <th colspan="2" style="border:none">
          Initialisation
        </th>
        <% for(var j=0; j < keys.length;j++){%>
          <tr>
            <td>
              <%=keys[j]%>
            </td>
            <td>
              <%=init[keys[j]]%>
            </td>
          </tr>
          <%}%>
      </table>
    </td>
    <td></td>
  </tr>
  <tr>
    <th></th>
    <th>
      Start (GMT Start + 1 min)
    </th>
    <th>
      End (GMT End - 1 min)
    </th>
  </tr>
  <% var keys = Object.keys(summary.S) || []%>
  <% for(let k of keys){%>
  <tr>
    <td>
      <%=k%>
    </td>
    <td>
      <%=summary.S[k]%>
    </td>
    <td>
      <%=summary.E[k]%>
    </td>
  </tr>
  <%}%>
</table>