<div class="container-fluid tab-container">

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a style="font-size:1.2rem" class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
          role="tab" aria-controls="nav-home" aria-selected="true">Summary</a>
        <a style="font-size:1.2rem" class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
          role="tab" aria-controls="nav-profile" aria-selected="false">Output</a>
        <a style="font-size:1.2rem" class="nav-item nav-link" id="nav-filters-tab" data-toggle="tab" href="#nav-filters"
        role="tab" aria-controls="nav-filters" aria-selected="false">Filters</a>
      </div>
    </nav>


    <div class="tab-content" id="nav-tabContent">

      <!-- FIRST TAB-->
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <br>

        <!-- End title and Activity container-->

        <div class="row">
          <div class="col md-12">
            <!-- Flight Summary container -->
            <div class="container-fluid" style="background-color:white;">
              <h4 style="padding-top:0.5rem;">
                Flight Summary
              </h4>
              <%- include flight-summary.ejs %>
            </div>
            <!-- End Flight Summary container -->
          </div>

        </div>

      </div>
      <!-- END FIRST TAB-->

      <!-- SECOND TAB-->

      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <br>
        <div class="col md-12">
          <!-- PVOL container -->
          <div class="container-fluid" style="background-color:white; overflow:auto;">
            <h4 style="padding-top:0.5rem;">
              <%= (name) %>
              <% if(data.full[0].START !== undefined) {%>
                <div style="float:right">
                  <label for="">Phases</label>
                  <button id="phaseSwitch" type="button" class="btn btn-xs btn-toggle" data-toggle="button" aria-pressed="false"
                    autocomplete="off">
                    <div class="handle"></div>
                  </button>
                  <label for="">Full Flight</label>
                </div>
              <%}%>
            </h4>

            <% if(filterType.length) { %>
              <p>
                <% for(var i=0; i< filterType.length; i++) { %>
                <% if (filterType[i]["raiseError"] == true) {%>
                <strong style="color:rgb(238, 180, 22); padding-right:0.2rem">Filter trigger <i class="fa fa-warning fa-md"></i>
                </strong> error with parameter <strong style="text-decoration: underline;">
                    <%=filterType[i]["parameter"].replace(/_/g, " ")%></strong> and 
                type <strong style="text-decoration: underline;">
                  <%=filterType[i]["type"]%></strong>
                not found <br>
                <% } %>
                <% } %>
              </p>
              <% } %>

            <table id="pvol" class="table text-left">

              <thead>
                <tr>
                  <% for(var i=0; i< headers.length; i++) { %>
                  <%if(headers[i] == "PHASE" || headers[i] == "START" ||  headers[i] == "END") {%>
                  <th>
                    <%= headers[i] %>
                  </th>
                  <% } 
                                                } %>
                </tr>
              </thead>

              <tbody>
                <!-- Iterate over errors rows-->
                <% for(var j=0; j< data.phases.length; j++) { %>
                <tr data-toggle="collapse" class="hover" data-target="<%='#demo_'+j%>" style="cursor : pointer;">
                  <% var errorTypes = Object.keys(errorMap.phases[j]) %>
                  <!-- Iterate over each field data-->
                  <% for(var k=0; k< headers.length; k++) { %>
                  <%if(headers[k] == "START") {%>
                  <td>
                    GMT
                    <%=  data.phases[j][headers[k]] %>
                    <p>
                      <% var evenTypes = errorTypes.filter((e, i) => {return i % 2 === 0}) %>
                      <% for(let type of evenTypes){%>
                          <%= type %>: <strong style="color:red"><%= errorMap.phases[j][type] %></strong>
                          <br>
                      <%}%>
                    </p>
                  </td>
                  <% }else if ( headers[k] == "END") { %>
                  <td>
                    GMT
                    <%=  data.phases[j][headers[k]] %>
                    <p>
                        <% var oddTypes = errorTypes.filter((e, i) => {return i % 2 !== 0}) %>
                        <% for(let type of oddTypes){%>
                            <%= type %>: <strong style="color:red"><%= errorMap.phases[j][type] %></strong>
                            <br>
                        <%}%>
                    </p>
                  </td>
                  <% } else{%>
                  <%if(headers[k] == "PHASE"){%>
                  <td>
                    <%= data.phases[j][headers[k]] %>
                  </td>
                  <%}%>
                  <%}
                                              } %>
                </tr>

                <!--Start collapse div-->
                <tr class="hidden">
                  <td colspan="2">
                    <div id="<%='demo_'+j%>" class="collapse text-center">
                      <!-- Start subtable-->
                      <% if(CSVerrors.phases[j].length) {  %>
                      <table id="<%='subtable_'+j%>" class="table-md">
                        <thead>
                          <tr>
                            <% for(var i=0; i< CSVheaders.length; i++) { %>
                            <th>
                              <%= CSVheaders[i] %>
                            </th>
                            <% } %>
                            <th style="width: 15%">
                              ACTIONS
                            </th>
                          </tr>
                        </thead>

                        <tbody style="background-color:rgba(137, 202, 255, 0.075)">

                          <% for(var i=0; i< CSVerrors.phases[j].length; i++) { %>
                          <tr>
                            <% for(var k=0; k < CSVheaders.length; k++) { %>
                            <td id="<%=CSVheaders[k]%>">
                              <%= CSVerrors.phases[j][i][CSVheaders[k]] %>

                            </td>
                            <% } %>

                            <td style='white-space: nowrap'>
                              <button type="button" class=" btn-light btn-sm" data-mr="<%=mr%>" aria-hidden="true"
                                data-id="see_par">
                                <span class="fa fa-line-chart fa-lg" title="See Parameter"></span>
                              </button>

                              <button type="button" class=" btn-light btn-sm" aria-hidden="true" data-id="filter_par">
                                <i class="fa fa-eyedropper fa-lg" title="Filter"></i>
                              </button>

                              <button type="button" class=" btn-light btn-sm" aria-hidden="true" data-id="search_par"">
                                       <i class="
                                fa fa-search fa-lg" title="Search"></i>
                              </button>
                            </td>
                          </tr>
                          <% } %>
                        </tbody>
                      </table>
                      <!--End subtable-->
                      <%}%>
                    </div>
                  </td>
                </tr>
                <!-- End collapse div -->
                <% } %>
              </tbody>
            </table>
            <table id="full" class="table text-left" style="width:100%; display:none">
              <thead>
                <tr>
                  <% for(var i=0; i< headers.length; i++) { %>
                    <%if(headers[i] == "PHASE" || headers[i] == "START" ||  headers[i] == "END") {%>
                    <th>
                      <%= headers[i] %>
                    </th>
                    <% } 
                  } %>
                </tr>
              </thead>
              <tbody>
                  <!-- Iterate over errors rows-->
                  <% for(var j=0; j< data.full.length; j++) { %>
                  <tr data-toggle="collapse" class="hover" data-target="<%='#full_demo_'+j%>" style="cursor : pointer;">
                    <% var errorTypes = Object.keys(errorMap.full) %>
                    <!-- Iterate over each field data-->
                    <% for(var k=0; k< headers.length; k++) { %>
                    <%if(headers[k] == "START") {%>
                    <td>
                      GMT
                      <%=  data.full[j][headers[k]] %>
                      <p>
                        <% var evenTypes = errorTypes.filter((e, i) => {return i % 2 === 0}) %>
                        <% for(let type of evenTypes){%>
                            <%= type %>: <strong style="color:red"><%= errorMap.full[type] %></strong>
                            <br>
                        <%}%>
                      </p>
                    </td>
                    <% }else if ( headers[k] == "END") { %>
                    <td>
                      GMT
                      <%=  data.full[j][headers[k]] %>
                      <p>
                          <% var oddTypes = errorTypes.filter((e, i) => {return i % 2 !== 0}) %>
                          <% for(let type of oddTypes){%>
                              <%= type %>: <strong style="color:red"><%= errorMap.full[type] %></strong>
                              <br>
                          <%}%>
                      </p>
                    </td>
                    <% } else{%>
                    <%if(headers[k] == "PHASE"){%>
                    <td>
                      <%= data.full[j][headers[k]] %>
                    </td>
                    <%}%>
                    <%}
                                                } %>
                  </tr>
  
                  <!--Start collapse div-->
                  <tr class="hidden">
                    <td colspan="2">
                      <div id="<%='full_demo_'+j%>" class="collapse text-center">
                        <!-- Start subtable-->
                        <% if(CSVerrors.full[j].length) {  %>
                        <table id="<%='full_subtable_'+j%>" class="table-md">
                          <thead>
                            <tr>
                              <% for(var i=0; i< CSVheaders.length; i++) { %>
                              <th>
                                <%= CSVheaders[i] %>
                              </th>
                              <% } %>
                              <th style="width: 15%">
                                ACTIONS
                              </th>
                            </tr>
                          </thead>
  
                          <tbody style="background-color:rgba(137, 202, 255, 0.075)">
  
                            <% for(var i=0; i< CSVerrors.full[j].length; i++) { %>
                            <tr>
                              <% for(var k=0; k < CSVheaders.length; k++) { %>
                              <td id="<%=CSVheaders[k]%>">
                                <%= CSVerrors.full[j][i][CSVheaders[k]] %>
  
                              </td>
                              <% } %>
  
                              <td style='white-space: nowrap'>
                                <button type="button" class=" btn-light btn-sm" data-mr="<%=mr%>" aria-hidden="true"
                                  data-id="see_par">
                                  <span class="fa fa-line-chart fa-lg" title="See Parameter"></span>
                                </button>
  
                                <button type="button" class=" btn-light btn-sm" aria-hidden="true" data-id="filter_par">
                                  <i class="fa fa-eyedropper fa-lg" title="Filter"></i>
                                </button>
  
                                <button type="button" class=" btn-light btn-sm" aria-hidden="true" data-id="search_par"">
                                         <i class="
                                  fa fa-search fa-lg" title="Search"></i>
                                </button>
                              </td>
                            </tr>
                            <% } %>
                          </tbody>
                        </table>
                        <!--End subtable-->
                        <%}%>
                      </div>
                    </td>
                  </tr>
                  <!-- End collapse div -->
                  <% } %>
              </tbody>
            </table>
          </div>
          <!-- End PVOL container -->
        </div>
      </div>
      <!-- END SECOND TAB -->
      <!-- BEGIN THIRD TAB -->
      <div class="tab-pane fade" id="nav-filters" role="tabpanel" aria-labelledby="nav-filters-tab">
        <br>
        <div class="col md-12">
          <!-- Applied filters containers -->
          <div class="container-fluid" style="background-color:white; overflow:auto;">
            <h4 style="padding-top:0.5rem;">
              Applied Filters
            </h4>
            <table id="applied_filters" class="table text-left">
              <thead>
                <tr>
                  <% for(var i=0; i< filterHeader.length; i++) { %>
                  <th>
                    <% if(filterHeader[i] == "parameter" || filterHeader[i] == "type"){%>
                      <%= filterHeader[i].toUpperCase() %>
                    <%}%>
                  </th>
                  <% }%>
                </tr>
              </thead>
              <tbody>
                <% for(let filter_ of filterType){%>
                  <tr>
                      <% for(var l=0; l<filterHeader.length; l++){%>
                          <% if(filterHeader[l] == "parameter"){%>
                            <td>
                              <%= filter_[filterHeader[l]] %>
                            </td>
                            <%}
                            else if(filterHeader[l] == "type"){%>
                            <td>
                              <%= filter_[filterHeader[l]] %>
                            </td>
                            <%}
                          %>
                      <%}%>
                  </tr>
                <%}%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
<!-- Modal -->
<%- include ../../search-modal.ejs %>
<%- include ../../filter-modal.ejs %>
<%- include ../../plot-modal.ejs %>
<%- include ../../spinner-modal.ejs %>