<table class="table text-center width=100%">
    <tr>
      <td>
        <%="Aircraft : "+summary.aircraft%>
      </td>
      <td></td>
      <td>
        <%="Start GMT : "+summary.start_time%>
      </td>
    </tr>
    <tr>
      <td>
        <%="Test : "+summary.test%>
      </td>
      <td></td>
      <td>
        <%="End GMT : "+summary.end_time%>
      </td>
    </tr>
    <tr>
        <td>
            <%= "MR : "+summary.mr%>
        </td>
    </tr>
    <tr>
      <th colspan="2">
        LOM
      </th>
    </tr>
    <td>
       <%="LOM PAM : "+summary["LOM PAM"]%>
    </td>
    <td>
        <%="Gen Base : "+summary["Gen Base"]%>
    </td>
    <tr>
      <td>
        <%="LOM EV : "+summary["LOM EV"]%>
      </td>
      <td>
        <%="Version : "+summary["VERSION"]%>
      </td>
    </tr>
    <tr>
        <th colspan="2">
            Computation Options
        </th>
    </tr>
    <tr>
        <td>
            <%="IOPA : "+summary.IOPA%>
        </td>
        <td>
            <%="COPE_PP : "+summary.CODE_PP%>
        </td>
    </tr>
    <tr>
        <td>
            <%="IOPJ : "+summary.IOPJ%>
        </td>
       <td>
           <%="CODE_PS : "+summary.CODE_PS%>
       </td>
    </tr>
    <tr>
            <td>
                    <%="IOPT : "+summary.IOPT%>
                </td>
            <td>
                <%="CODE_AOA : "+summary.CODE_AOA%>
            </td>
    </tr>
    <tr>
        <td>
            <%="IOPTBETA : "+summary.IOPBETA%>
        </td>
        <td>
            <%="CODE_BETA : "+summary.CODE_BETA%>
        </td>
    </tr>
  </table>