<div class="container-fluid tab-container">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a style="font-size:1.2rem" class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
        role="tab" aria-controls="nav-home" aria-selected="true">Summary</a>
      <a style="font-size:1.2rem" class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
        role="tab" aria-controls="nav-profile" aria-selected="false">Output</a>
      <a style="font-size:1.2rem" class="nav-item nav-link" id="nav-filters-tab" data-toggle="tab" href="#nav-filters"
        role="tab" aria-controls="nav-filters" aria-selected="false">Filters</a>
      <a style="font-size:1.2rem" class="nav-item nav-link" id="nav-charts-tab" data-toggle="tab" href="#nav-charts"
        role="tab" aria-controls="nav-charts" aria-selected="false">PBV Charts</a>
    </div>
  </nav>


  <div class="tab-content" id="nav-tabContent">

    <!-- FIRST TAB-->
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <br>

      <!-- End title and Activity container-->

      <div class="row">
        <div class="col md-12">
          <!-- Flight Summary container -->
          <div class="container-fluid" style="background-color:white; overflow:auto;">
            <h4 style="padding-top:0.5rem">
              Flight Summary
            </h4>
            <%- include flight-summary.ejs%>
          </div>
          <!-- End Flight Summary container -->
        </div>


      </div>

    </div>
    <!-- END FIRST TAB-->

    <!-- SECOND TAB-->

    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <br>
      <div class="col md-12">
        <!-- PVOL container -->
        <div class="container-fluid" style="background-color:white; overflow:auto;">
          <h4 style="padding-top:0.5rem">
            <%= (name) %>
          </h4>


          <% if(filterTrigger) { %>
            <div style="padding-bottom:1rem;overflow: auto;">
              <button type="button" class=" btn-sm btn-warning" role="button" data-toggle="collapse" href="#filter_errors"
                aria-expanded="false" aria-controls="filter_errors" style="color:white; cursor:pointer;"><strong>Filter
                  Trigger</strong> <i class="fa fa-warning fa-md"></i></button>
            </div>

            <div id="filter_errors" class="collapse">
                  <div style="max-height: 150px; overflow-y: scroll;">
                <% for(var i=0; i< filterType.length; i++) { %>
                <% if (filterType[i]["raiseError"] == true) {%>
                <div style="font-size:15px;">
                  Error with parameter <strong style="text-decoration: underline;">
                    <%=filterType[i]["parameter"].replace(/_/g, " ")%></strong>,
                  type <strong style="text-decoration: underline;">
                    <%=filterType[i]["type"]%></strong> and phase <strong style="text-decoration: underline;">
                    <%=filterType[i]["phase"]%></strong>
                  not found.</div>
                <% } %>
                <% } %>
                  </div>
            </div>
            <% } %>

          <table id="pvol" class="table overview_table text-left" style="width:100%">

            <thead>
              <tr>
                <% for(var i=0; i< headers.length; i++) { %>
                <%if(headers[i] == "START" ||  headers[i] == "END" || headers[i] == "PHASE" || headers[i] == "ERRORS") {%>
                <th>
                  <%= headers[i] %>
                </th>
                <% } 
                              } %>
              </tr>
            </thead>

            <tbody>
              <!-- Iterate over errors rows-->
              <% for(var j=0; j< data.length; j++) { %>
              <tr data-toggle="collapse" data-target="<%='#demo_'+j%>" id="<%='row-demo_'+j%>" style="cursor : pointer;">
                <% var errorTypes = Object.keys(errorMap) %>
                <!-- Iterate over each field data-->
                <% for(var k=0; k< headers.length; k++) { %>
                <%if(headers[k] == "START") {%>
                <td>
                  GMT
                  <%=  data[j][headers[k]] %>
                </td>
                <% }else if ( headers[k] == "END") { %>
                <td>
                  GMT
                  <%=  data[j][headers[k]] %>
                </td>
                <% } else if(headers[k] == "PHASE"){%>
                <td>
                  <%= data[j][headers[k]] %>
                </td>
                <%} else if(headers[k] == "ERRORS"){%>
                  <td>
                    <% if(!errorTypes.length){%>
                      <strong style="color:green"> <i class="fa fa-minus fa-sm"></i> </strong>
                      <%}
                      else{%>
                        <% if (errorTypes.length <=3) {%>
                          <%  for(let type of errorTypes){%>
                            <a class="type" id="<%='subtable_'+j+'-'+ type %>" role="button"><%= type %></a>: <strong
                            style="color:red;"><%= errorMap[type] %></strong>
                          <br>
      
                          <%}%>
      
                              <%} else {%>
                          <div style="overflow:auto; width: 200px;
                            height: 80px;">
                            <%  for(let type of errorTypes){%>
      
                              <a class="type" id="<%='subtable_'+j+'-'+ type %>" role="button"><%= type %></a>: <strong
                    style="color:red;"><%= errorMap[type] %></strong>
                  <br>
      
                            <%}%>
                        </div>
                        <%}%>
                        <%}%>
                  </td>
                  <%}%>
                <%}%>
              </tr>

              <!--Start collapse div-->
              <tr class="hidden">
                <td colspan="4">
                  <div id="<%='demo_'+j%>" class="collapse text-center">
                    <!-- Start subtable-->
                    <% if(CSVerrors[j].length) {  %>
                    <table id="<%='subtable_'+j%>" class="sub_overview table-md">
                      <thead>
                          <% for(var i=0; i< CSVheaders.length; i++) { %>
                          <th>
                            <%= CSVheaders[i] %>
                          </th>
                          <% } %>
                          <th style="width: 15%">
                            ACTIONS
                          </th>
                        </tr>
                      </thead>
                      <tbody style="background-color:rgba(137, 202, 255, 0.075)">
                        <% for(var i=0; i< CSVerrors[j].length; i++) { %>
                        <tr>
                          <% for(var k=0; k < CSVheaders.length; k++) { %>
                          <td id="<%=CSVheaders[k]%>">
                            <%= CSVerrors[j][i][CSVheaders[k]] %>
                          </td>
                          <% } %>

                          <td style='white-space: nowrap'>
                            <button type="button" class=" btn-light btn-sm" data-mr="<%=mr%>" aria-hidden="true"
                              data-id="see_par">
                              <span class="fa fa-line-chart fa-lg" title="See Parameter"></span>
                            </button>

                            <button type="button" class=" btn-light btn-sm" aria-hidden="true" data-id="filter_par">
                              <i class="fa fa-eyedropper fa-lg" title="Filter"></i>
                            </button>

                            <button type="button" class=" btn-light btn-sm" aria-hidden="true" data-id="search_par">
                              <i class="fa fa-search fa-lg" title="Search"></i>
                            </button>
                          </td>

                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                    <!--End subtable-->
                    <%}%>

                  </div>
                </td>
              </tr>
              <!-- End collapse div -->
              <% } %>
            </tbody>
          </table>
        </div>
        <!-- End PVOL container -->
      </div>
    </div>
      <!-- END SECOND TAB -->
      <!-- BEGIN THIRD TAB -->
      <div class="tab-pane fade" id="nav-filters" role="tabpanel" aria-labelledby="nav-filters-tab">
         <br>
         <% if(filterHeader.length) { %>
         <div class="col md-12">
           <!-- Applied filters containers -->
           <div class="container-fluid" style="background-color:white; overflow:auto;padding-bottom:10px">
             <h4 style="padding-top:0.5rem;">
               Applied Filters
             </h4>
             <table id="applied_filters" class="table text-left">
               <thead>
                 <tr>
                   <% for(var i=0; i< filterHeader.length-1; i++) { %>
                   <th style="text-transform: uppercase">
                     <%= filterHeader[i] %>
                   </th>
                   <% }%>
                 </tr>
               </thead>
               <tbody style="background-color:rgba(137, 202, 255, 0.075)">
   
                 <% for(var l=0; l < filterType.length; l++){%>
                 <tr>
                   <% for(var i=0; i < filterHeader.length-1; i++){%>
   
                   <td><%= filterType[l][filterHeader[i]] %></td>
   
                   <%}%> 
                     </tr>
                     <%}%>
   
               </tbody>
             </table>
           </div>
         </div>
         <% } else { %>
         <div class="container" style="background-color:rgba(255, 255, 255, 0.836); overflow:auto; padding:10px;">
           <div style="padding:2rem">
             <h2><strong style="color:#1D809F">No filters found</strong> </h2>
             <hr />
             <div class="help">
               <h5>This flight has no filters applied up to this moment.</h5><br>
   
             </div>
           </div>
         </div>
         <%}%>
       </div>
       <!-- END THIRD TAB -->
       <!-- BEGIN FOURTH TAB -->
       <div class="tab-pane fade" id="nav-charts" role="tabpanel" aria-labelledby="nav-charts-tab">
           <br>
           <div class="col md-12">
             <!-- Chart and selection container -->
             <div id="pbvChartContainer" class="container-fluid" style="background-color:white; overflow:auto;">
               <h4 style="padding-top:0.5rem;">
               <div class="d-flex justify-content-center">
                  <div>
                      <select id="atole">
                        <%for(let file of files){%>
                          <option value="<%=file%>"><%=file%></option>
                          <%}%>
                      </select>
                  </div>
                  <div>
                      <select id="testCSV">
                      </select>
                  </div>
                <button class="btn btn-primary btn-lg">Load Data</button>
               </div>
             </div>
           </div>
       </div>   
       <!--END FOURTH TAB-->  
  </div>
</div>
<!--MODALS-->
<%- include ../../search-modal.ejs %>
<%- include ../../filter-modal.ejs %>
<%- include ../../plot-modal.ejs %>
<%- include ../../spinner-modal.ejs %>
