<div id="500" v-cloak>
  <div class="container" style="padding-top:6rem">
    <div class="jumbotron" style="background:rgba(255, 255, 255, 0.733);">


      <h1>
        <%=activity%> Settings</h1>
      <hr />

      <div class="row mb-3">
        <div class="col-sm-6">
          <h4>Folder directories</h4>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-3">
          <h5>CSV Files</h5>
        </div>
        <div class="col">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text" style="background-color:rgb(184, 222, 243);">
                <i style="color:rgb(20, 83, 134);"> <strong>Directory</strong> </i>
              </span>
            </div>
            <textarea id="csv_dir" name="AutoValCSVDirectory" class="form-control" aria-label="With textarea"><%=activitySettings["AutoValCSVDirectory"]%></textarea>
          </div>
        </div>

        <div class="col">
          <span class="float-sm-right">
            <button type="button" id="change_csv" name="<%=activity%>" class="btn btn-sm btn-primary">Apply</button>
          </span>
        </div>
      </div>
      <br>
      <br>

      <% if(activity === 'DGPS') { %>
      <div class="row">
        <div class="col-3">
          <h5>PVOL Files</h5>
        </div>
        <div class="col">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text" style="background-color:rgb(184, 222, 243);">
                <i style="color:rgb(20, 83, 134);"> <strong>Directory</strong> </i>
              </span>
            </div>
            <textarea id="pvol_dir" name="PVOLCSVDirectory" class="form-control" aria-label="With textarea"><%=activitySettings["PVOLCSVDirectory"]%></textarea>
          </div>
        </div>

        <div class="col">
          <span class="float-sm-right">
            <button type="button" id="change_pvol" name="<%=activity%>" class="btn btn-sm btn-primary account-settings-button">Apply</button>
          </span>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-3">
          <h5>INFO Files</h5>
        </div>
        <div class="col">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text" style="background-color:rgb(184, 222, 243);">
                <i style="color:rgb(20, 83, 134);"> <strong>Directory</strong> </i>
              </span>
            </div>
            <textarea id="info_dir" name="SummaryINFODirectory" class="form-control" aria-label="With textarea"><%=activitySettings["SummaryINFODirectory"]%></textarea>
          </div>
        </div>

        <div class="col">
          <span class="float-sm-right">
            <button type="button" id="change_info" name="<%=activity%>" class="btn btn-sm btn-primary account-settings-button">Apply</button>
          </span>
        </div>
      </div>
      <br>
      <br>
      <%}%>

      <div class="row">
        <div class="col-3">
          <h5>
            Discipline</h5>
        </div>
        <div class="col">

          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text" style="background-color:rgb(184, 222, 243);">
                <i style="color:rgb(20, 83, 134);"> <strong>Directory</strong> </i>
              </span>
            </div>
            <textarea id="discipline_dir" name="discipline" class="form-control" aria-label="With textarea"><%=activitySettings["discipline"]%></textarea>
          </div>
        </div>

        <div class="col">
          <span class="float-sm-right">
            <button type="button" id="change_discipline" name="<%=activity%>" class="btn btn-sm btn-primary account-settings-button">Apply</button>
          </span>
        </div>
      </div>
      <br>
      <hr />

      <a class="btn btn-lg btn-primary" href="javascript:history.back()">Go back</a>


    </div>
  </div>
</div>
