<div class="jumbotron jumbostyle">
  <div class="container-fluid">
    <!-- Title and Activity container-->
    <div class="row">
      <div class="col md-4"></div>
      <div class="col md-4">
        <h1 class="display 4 text-center" style="padding-top:2rem;"> <strong>
            <%=activity%> Filters</strong> </h1>
      </div>
      <div class="col md-4">
      </div>
    </div>
    <hr style="padding-bottom:2rem;">

    <div class="row">
      <div class="col md-6">
        <!-- Flight Overview container -->
        <div class="container-fluid" style="background-color:rgb(255, 255, 255); overflow:auto; padding:10px;">
          <table id="filters-table" class="table table-striped text-left table-hover">
            <thead>
              <% for(var i=0; i < headers.length; i++) {%>
              <th>
                <%= headers[i].toUpperCase() %>
              </th>
              <% } %>
              <th class="text-center">
                DELETE FILTER
              </th>
            </thead>

            <tbody>
              <% for(var i=0; i < info.length; i++) {%>
              <tr id="<%= info[i]['id']%>" name="<%=activity%>" >
                    
                  <% for(var j=0; j < headers.length; j++) {%>
                  <td>
                   <%= info[i][headers[j]] %>
                  </td>
                  <% } %>
                 
                <td class="text-center">
                  <button class="btn btn-light btn-sm" id="delete" style="cursor:pointer;">
                    <i class="fa fa-trash fa-lg" title="Delete"></i>
                  </button>
                </td>
                <% } %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
