<table class="table text-center width=100%">
  <tr>
    <td>
      <%="Aircraft : "+summary.aircraft%>
    </td>
    <td></td>
    <td>
      <%="Start GMT : "+summary.GMT_Deb%>
    </td>
  </tr>
  <tr>
    <td>
      <%="Test : "+summary.test%>
    </td>
    <td></td>
    <td>
      <%="End GMT : "+summary.GMT_Fin%>
    </td>
  </tr>
  <tr>
    <td>
      Used Station(s):
    </td>
    <td></td>
    <td></td>
  </tr>
  <% for(var i=0; i<summary.Station_Used.length;i++){%>
  <tr>
    <td>
      <%=summary.Station_Used[i]%>
    </td>
    <td></td>
    <td></td>
  </tr>
  <%}%>
  <tr>
    <td>
      Used Runway(s):
    </td>
    <td></td>
    <td></td>
  </tr>
  <% for(var i=0;i<summary.Runways_used.length;i++){%>
  <tr>
    <td>
      <%=summary.Runways_used[i]%>
    </td>
    <td>
      PROFIL : <%=summary.Profils[i]%>
    </td>
    <td></td>
  </tr>
  <%}%>
</table>