<div class="jumbotron jumbostyle">
    <div class="container-fluid">
        <!-- Title and Activity container-->
        <div class="row">
            <div class="col md-4"></div>
            <div class="col md-4">
                <h1 class="display 4 text-center" style="padding-top:2rem;"> Flight Overview </h1>
            </div>
            <div class="col md-4">
            </div>
        </div>
        <hr style="padding-bottom:2rem;">
        <!-- End title and Activity container-->

        <div class="row">
            <div class="col md-6">
                <!-- Flight Summary container -->
                <div class="container-fluid" style="background-color:white; overflow:auto;">
                    <h4 style="padding-top:0.5rem">
                        Flight Summary
                    </h4>
                <%- include flight-summary.ejs %>
                </div>
                <!-- End Flight Summary container -->
            </div>

            <div class="col md-6">
                <!-- PVOL container -->
                <div class="container-fluid" style="background-color:white; overflow:auto;">
                    <h4 style="padding-top:0.5rem">
                        <%= (name) %>
                    </h4>

                    <table id="pvol" class="table text-left width=100%">

                        <thead>
                            <tr>
                                <% for(var i=0; i< headers.length; i++) { %>
                                <%if(headers[i] == "PHASE" || headers[i] == "START" ||  headers[i] == "END") {%>
                                <th>
                                    <%= headers[i] %>
                                </th>
                                <% } 
                                } %>
                            </tr>
                        </thead>

                        <tbody>
                            <!-- Iterate over errors rows-->
                            <% for(var j=0; j< data.length; j++) { %>
                            <tr data-toggle="collapse" class="hover" data-target="<%='#demo_'+j%>" style="cursor : pointer;">
                                <!-- Iterate over each field data-->
                                <% for(var k=0; k< headers.length; k++) { %>
                                <%if(headers[k] == "START") {%>
                                <td>
                                    GMT
                                    <%=  data[j][headers[k]] %>
                                </td>
                                <% }else if ( headers[k] == "END") { %>
                                <td>
                                    GMT
                                    <%=  data[j][headers[k]] %>
                                    <br>
                                    <p>ERROR:

                                        <% if(CSVerrors[j].length){ %>
                                        <strong style="color:red">
                                            <%= CSVerrors[j].length %></strong>
                                        <%} else {%>
                                        <strong style="color:rgb(2, 179, 2)">
                                            <%= CSVerrors[j].length %></strong>
                                        <%}%>
                                    </p>
                                </td>
                                <% } else{%>
                                <%if(headers[k] == "PHASE"){%>
                                <td> 
                                <%= data[j][headers[k]] %>
                                </td>
                                <%}%>
                                <%}
                              } %>
                            </tr>

                            <!--Start collapse div-->
                            <tr class="hidden">
                                <td colspan="2">
                                    <div id="<%='demo_'+j%>" class="collapse text-center">
                                        <!-- Start subtable-->
                                        <% if(CSVerrors[j].length) {  %>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <% for(var i=0; i< CSVheaders.length; i++) { %>
                                                    <th style="background-color:white;">
                                                        <%= CSVheaders[i] %>
                                                    </th>
                                                    <% } %>
                                                </tr>
                                            </thead>

                                            <tbody style="background-color:rgba(137, 202, 255, 0.075)">
                                                <% for(var i=0; i< CSVerrors[j].length; i++) { %>
                                                <tr>
                                                    <% for(var k=0; k < CSVheaders.length; k++) { %>
                                                    <td style="border-bottom: 1px solid #ddd;">
                                                        <%= CSVerrors[j][i][CSVheaders[k]] %>
                                                    </td>
                                                    <% } %>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                        <!--End subtable-->
                                        <%}%>

                                    </div>
                                </td>
                            </tr>
                            <!-- End collapse div -->
                            <% } %>
                        </tbody>
                    </table>
                    <hr>
                </div>
                <!-- End PVOL container -->
            </div>
            <br>
        </div>
    </div>
</div>