<table class="table text-center width=100%">
  <tr>
    <td>
      <%="Aircraft : "+summary.aircraft%>
    </td>
    <td>
      <%="Start GMT : "+summary.GMT_Deb%>
    </td>
    <td></td>
  </tr>
  <tr>
    <td>
      <%="Test : "+summary.test%>
    </td>
    <td>
      <%="End GMT : "+summary.GMT_Fin%>
    </td>
    <td></td>
  </tr>
  <tr>
    <th>
      Used Station(s)
    </th>
    <th></th>
    <th></th>
  </tr>
  <% for(var i=0; i<summary.Station_Used.length;i++){%>
  <tr>
    <td>
      <%=summary.Station_Used[i]%>
    </td>
    <td></td>
    <td></td>
  </tr>
  <%}%>
  <%  var root = "OPT_" %>
  <% var keys = Object.keys(summary).filter(k => k.startsWith(root)) %>
  <% console.log(keys) %>
  <tr>
    <th>
      Used Runway(s)
    </th>
    <th>
      Profil
    </th>
    <% for(var i=0;i<keys.length;i++){%>
      <th>
        <%=keys[i].replace(root, "")%>
      </th>
      <%}%>
  </tr>
  <% for(var i=0;i<summary.Runways_used.length;i++){%>
  <tr>
    <td>
      <%=summary.Runways_used[i]%>
    </td>
    <td>
      <%=summary.Profils[i]%>
    </td>
    <% for(var j=0;j<keys.length;j++){%>
      <td>
        <%=summary[keys[j]][i]%>
      </td>
    <%}%>
  </tr>
  <%}%>
</table>